PORT=3000
NODE_ENV=development

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=usuario@example.com
SMTP_PASS=tu_password_o_app_password

MAIL_FROM="sCode Digital Solutions <usuario@example.com>"
MAIL_TO=contact@scodedigital.com

ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,https://scodedigital.com,https://www.scodedigital.com
